<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>{{{nickname}}}</title>
</head>
<body>
    <h1>Nickname: {{{nickname}}}</h1>
    <h2>Level: {{{level}}}</h2>
    <h2>Number of items in the inventory: {{{len_inv}}}</h2>
    <h2>Money: {{{money}}}</h2>
    <img src="{{{avatar}}}" alt="">
    <h5><a href="/profile/{{{nickname}}}/inventory">link to inventory</a></h5>
</body>
</html>